:root {
  --primary-ft-color: #333;
  --secondary-ft-color:rgb(121, 105, 105);
}
  
  .paper { 
   height: 400px;
   width: 300px;
   margin: 20px;
   text-align: 'center';
   display: inline-block;
  }

  .img {
    margin-top: 10px;
    height: 100px;
    width: 100px;
    border-radius: 50px;
  } 
  .bio {
    color: var(--secondary-ft-color);
  }

  .name {
    color: var(--primary-ft-color);
  }
 