/*
 * File: Header.scss
 * Project: part-two
 * File Created: Thursday, 8th March 2018 11:11:49 pm
 * Author: Chris Li
 * -----
 * Last Modified: Friday, 9th March 2018 12:16:24 am
 * Modified By: Chris Li
 * -----
 * Copyright 2018 - 2018 cli53, Personal
 */


/* Only using !important to override the UI libraries implementation of inline styles on every component, recommended from the library's documentation. */
.header {
  background-color: rgb(0, 180, 206)!important;
  box-shadow: 0px 0px 18px 2px rgba(0,0,0,0.75);
}

.title {
  color:#fff!important;
}

.avatar {
  margin-right: 10px;
}
.menu {
  color: #fff;
}
