/*
 * File: Search.scss
 * Project: part-two
 * File Created: Friday, 9th March 2018 12:13:30 am
 * Author: Chris Li
 * -----
 * Last Modified: Friday, 9th March 2018 12:16:16 am
 * Modified By: Chris Li
 * -----
 * Copyright 2018 - 2018 cli53, Personal
 */

.textField {
  margin-bottom: 10px;
}
.underline {
  color: #fff;
}
.floatingLabel {
  color: #fff;
}