/*
 * File: index.css
 * Project: part-two
 * File Created: Tuesday, 6th March 2018 12:59:13 am
 * Author: Chris Li
 * -----
 * Last Modified: Wednesday, 7th March 2018 11:25:12 am
 * Modified By: Chris Li
 * -----
 * Copyright 2018 - 2018 cli53, Personal
 */

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto';
}
